[2017-11-17 15:10] tbrx opened #1 "Implement Multivariate Normal"
I'd like to add an implementation of a multivariate normal distribution with non-diagonal covariance (unless I'm mistaken, we don't yet have one of these in either the `probtorch` repo or in Pyro).

The main question is how we would like to parameterize it. I don't believe there is a multivariate normal in `tf.distributions`, rather just in `tf.contrib.distributions` (at least, according to the r1

[2017-11-17 15:29] alicanb commented on #1
I think we went with single function, multiple params in the meeting with Pyro guys (like we have in probtorch right now)

[2017-11-17 15:41] jwvdm commented on #1
I would say the multivariate normal and univariate normal are different distributions, in the sense that they have different return types, rather than different parameterizations of the same distribution.

[2017-11-17 16:21] tbrx commented on #1
The question is more regarding how to handle multiple possible parameterizations of a multivariate normal. I agree the univariate normal is different.

[2017-11-17 16:31] alicanb commented on #1
Yes, what I meant by having a single `MultivariateNormal` that encapsualtes `MultivariateNormalFullCovariance` and `MultivariateNormalTriL`. Whether to have a single parameter called `cov` and check whether it's lower triangular or having a `TriL` parameter is up to @tbrx

[2017-11-17 21:41] fritzo commented on #1
Awesome, we're looking forward to using MVN for GPs! In case it might help, we had early PyTorch implementations of [MVN with full covariance](https://github.com/uber/pyro/blob/43973bd24eaf55b2fd816010f3ea97a0535b1385/pyro/distributions/normal.py)
 and [MVN with Cholesky covariance](https://github.com/uber/pyro/blob/43973bd24eaf55b2fd816010f3ea97a0535b1385/pyro/distributions/normal_chol.py) in pre

[2017-11-17 21:42] fritzo opened #2 "Implement Concrete Distribution"

[2017-11-17 22:16] neerajprad commented on #1
We do not have autograd support for `potrf` and `trtrs` (which the implementations may require) currently in PyTorch, and this will be needed if we would like to take the gradients of the parameter values. See https://github.com/pytorch/pytorch/issues/440.

[2017-11-17 23:33] fritzo opened #3 "Implement Dirichlet Distribution"
PR https://github.com/pytorch/pytorch/pull/4117

[2017-11-17 23:52] fritzo opened #4 "Implement Multinomial Distribution"
~~Depends on https://github.com/pytorch/pytorch/issues/3764 (Renaming `Multinomial` to `Categorical`)~~

Reference implementation: https://github.com/uber/pyro/blob/dev/pyro/distributions/multinomial.py

[2017-11-18 00:32] fritzo opened #5 "Implement OneHotCategorical"

[2017-11-18 00:33] fritzo opened #6 "Implement Beta distribution"
Blocked by #17 #18
PR https://github.com/pytorch/pytorch/pull/4117

[2017-11-18 00:35] fritzo opened #7 "Add .has_rsample property to all distributions"
Probtorch PR #21
PyTorch PR https://github.com/pytorch/pytorch/pull/3886

[2017-11-18 00:35] fritzo opened #8 "Add .shape properties to all distributions"

[2017-11-18 00:36] fritzo opened #9 "Add .enumerate_support() to all discrete distributions"
PR https://github.com/pytorch/pytorch/pull/4129

[2017-11-18 00:41] fritzo opened #10 "Implement Reparametrized version of Normal"
PyTorch PR https://github.com/pytorch/pytorch/pull/3886

[2017-11-18 00:41] fritzo opened #11 "Implement Exponential distribution"

[2017-11-18 00:42] fritzo opened #12 "Implement LogNormal distribution"

[2017-11-18 00:42] fritzo opened #13 "Implement Bijector class"
Modeled after Tensorflow Bijectors https://www.tensorflow.org/api_docs/python/tf/distributions/bijectors/Bijector
and Pyro Bijector class https://github.com/uber/pyro/blob/dev/pyro/distributions/transformed_distribution.py#L91

[2017-11-18 01:06] fritzo opened #14 "Implement Delta distribution?"
Pyro has many internal uses for the Delta (aka degenerate distribution). It is unclear whether Delta belongs in PyTorch.

[2017-11-18 01:12] fritzo opened #15 "Implement Uniform distribution"

[2017-11-18 01:13] fritzo opened #16 "Implement Cauchy distribution"
PR https://github.com/pytorch/pytorch/pull/4356

[2017-11-18 02:07] alicanb commented on #1
I think all of us are here on this thread so I'm writing this here: our fork has a `distribution-api` branch I started ~2 weeks ago. You may want to branch off/push to that.

[2017-11-18 11:18] tbrx commented on #1
@alicanb I saw that branch, and will follow your lead on formatting and structure.

@neerajprad Since pytorch#2386, `potrf` actually does have a backward implementation, so this will at least be doable. It appears that `trtrs` does not even have a CUDA implementation for `forward` at the moment, but this will be addressed with pytorch#3073. In the meantime we can fall back to either less-efficient

[2017-11-18 15:10] jwvdm commented on #5
TensorFlow defines [tf.contrib.distributions.OneHotCategorical](https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/OneHotCategorical) for this purpose, which is a distinct class from [tf.contrib.distributions.Categorical](https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/Categorical). I think this is probably a good idea, since samples from the two distributions

[2017-11-18 15:11] jwvdm commented on #14
I think that this is the kind of thing that one might as well include – it is very easy to implement and doesn't get in the way of anything.

[2017-11-18 15:45] jwvdm commented on #8
Should this be called `shape` or `size`? On the one hand, `size` is more similar to what PyTorch already provides for Tensors. On the other hand, `size()` is a method, not a property.

[2017-11-18 19:01] fritzo commented on #8
`shape` seems preferable since (1) PyTorch is moving towards the numpy api (already has partial support for shape), and (2) edward uses shape so code will be more interchangeable.

[2017-11-19 05:12] fritzo commented on #10
@alicanb I added a paragraph to the [Design Doc](https://docs.google.com/document/d/1wnABg0cdyaVMr-Xqz_brHBwnPJuzTeSk3Oqko2HHSfE/edit#heading=h.u7a6f67mlqya) suggesting we add a `reparameterized=False` argument to the `__init__()` method of each distribution. This is nice since some distributions are much cheaper when not reparameterized. Does this sound reasonable?

[2017-11-20 16:08] fritzo commented on #2
See example implementation by @rachtsingh at https://github.com/uber/pyro/pull/588

[2017-11-20 16:20] alicanb commented on #10
Yep, makes perfect sense.

[2017-11-21 16:48] fritzo opened #17 "Implement torch.digamma()"
Blocking #3 #4 #6 #19
Mirror of https://github.com/pytorch/pytorch/issues/678
PRs: https://github.com/pytorch/pytorch/pull/3955, https://github.com/pytorch/pytorch/pull/4369

[2017-11-21 16:49] fritzo opened #18 "Implement torch.random_gamma() sampler"
Blocking #3 #6 #19
Mirror of https://github.com/pytorch/pytorch/issues/3813
PR: https://github.com/pytorch/pytorch/pull/3841

[2017-11-21 16:50] fritzo opened #19 "Implement Gamma distribution"
PR: https://github.com/pytorch/pytorch/pull/3841

[2017-11-21 21:47] jwvdm commented on #7
I have a tiny procedural comment: Can we decide on which way we will spell reparameterized?

1. reparametrized (this is what @alicanb has)
2. reparameterized (this is what Tensorflow has)

I don't mind either way, as long as we enforce consistency from here on out :)

[2017-11-21 22:01] alicanb commented on #7
Wow, I've never noticed that. Let's go with reparameterized, reparameterization, etc...

[2017-11-21 22:09] fritzo commented on #7
Counting google hits:
- `reparametrized` has 180k hits on web, 11k hits on arxiv.org
- `reparameterized` has 67k hits on web, 1.8k hits on arxiv.org

Also, Pyro use pytest which uses the spelling `parametrize`. This always trips me up because Pyro spells it `reparameterized`.

[2017-11-21 22:11] fritzo commented on #7
More importantly, I think we should aim to *not* have a reparmeterized property. We should aim for all continuous distributions to have reparameterized implementations (depending on whether params require grads), and no discrete distributions to be reparameterized; thus we could eventually replace `.reparamterized` with `.is_discrete`.

[2017-11-22 02:46] fritzo commented on #11
It looks like there is already an `exponential_` sampler [implemented in PyTorch](https://github.com/pytorch/pytorch/blob/master/torch/csrc/generic/methods/TensorRandom.cwrap#L195), at least at the C level. Do you have an understanding of how these samplers are organized?

[2017-11-22 11:40] tbrx commented on #7
Is there any use case (computational or otherwise) for *not* internally using a reparameterized variant of the sampler when available?

[2017-11-22 12:56] tbrx opened #23 "Python 2.7 compatibility"
I believe we should still be supporting python 2.7 with the distributions code (as well as 3.x). The pre-existing `distributions-api` branch includes some code which doesn't parse on 2.7.

My understanding is that pytorch in general targets 2.7 and 3.5+ — is this correct?

[2017-11-22 17:29] martinjankowiak commented on #1
@tbrx will it be in the scope of this issue to implement a (cuda) batched cholesky?

[2017-11-22 18:18] tbrx commented on #1
It looks like it, unfortunately — I don't see a way around it at the moment.

We can always e.g. split along the batch dimension and then stack the results. I suppose this will be slow-ish if it is in a python list comprehension.

On the other hand, this will only be necessary for cases in which the user passes in a batch of covariance matrices. We can keep behaviour efficient even without a batch

[2017-11-22 18:26] martinjankowiak commented on #1
i'd like to have batched cholesky for other reasons so i'm happy to help where i can. i'm probably not the right person to be writing cuda code but at the very least i can help with careful code review, tests, etc.

[2017-11-22 19:05] fritzo commented on #7
@tbrx I believe the only plausible case is when you're not computing gradients and the reparameterized version is more expensive, e.g. `Gamma` will need to store extra information to compute gradients. I think the cleanest interface for `Distribution.sample()` would be to decide internally based on params (e.g.  `alpha.requires_grad` and `beta.requires_grad` for `Gamma`). This way if a user wants

[2017-11-22 19:30] jwvdm commented on #7
Regarding: `.reparameterized` vs `.is_discrete`

It seems a strong assumption that all distributions with continuous support will be reparameterizable. For this reason, I would be hesitant to simply replace `.reparameterized` with `.is_discrete`

[2017-11-22 19:35] jwvdm commented on #7
Regarding: `requires_grad` and `.detach()`

I think there are two separate use cases here

1. Parameters have `requires_grad=False`. In this case we should clearly also set `requires_grad=False` for the sampled value.

2. Parameters have `requires_grad=True`, but we still want to draw a sample with `requires_grad=False` (e.g. because we are explicitly calculating a reinforce-style estimate)

The b

[2017-11-22 19:42] jwvdm commented on #10
Am I understanding correctly that we are now leaning towards `reparameterized` a class-level property, rather than a constructor argument? (see: [comment in pull req 21](https://github.com/probtorch/pytorch/pull/21#discussion_r152431244) )

[2017-11-25 17:36] fritzo opened #25 "Implement Reparameterized version of Gamma"

[2017-11-28 07:10] neerajprad commented on #23
That is correct - PyTorch (and Pyro, as well) supports both 2.7 and 3.5+. We used the [six](https://pypi.python.org/pypi/six) library to handle imports of common library functions. PyTorch seems to have an internal `_six` file to specify the appropriate python 2/3 packages to bind to the namespace depending on the runtime python version.

[2017-12-02 01:17] #18 closed

[2017-12-02 01:17] #19 closed

[2017-12-09 16:40] fritzo opened #29 "Combine .sample() and .sample_n()"
PR https://github.com/pytorch/pytorch/pull/4100

[2017-12-11 18:23] #25 closed

[2017-12-12 01:03] fritzo opened #30 "Revise shape semantics of all distributions"
We will adapt `tf.distribution` shape semantics `(sample_shape, batch_shape, event_shape)`. See [design doc](https://docs.google.com/document/d/1wnABg0cdyaVMr-Xqz_brHBwnPJuzTeSk3Oqko2HHSfE/edit#heading=h.t6s7ftmgy2g9) for details.

[2017-12-12 01:54] neerajprad opened #31 "Move distribution classes into a separate package"
Given that we will be adding many more distributions, it will be nice to have a separate distributions package rather than a monolithic file containing all distribution classes.

[2017-12-12 01:56] fritzo commented on #31
This is especially important as we add `Bijector` and other libraries.

[2017-12-12 19:08] #31 closed

[2017-12-12 22:19] neerajprad opened #32 "Allow for broadcasting of distribution parameters"
Currently, PyTorch style broadcasting is not enabled for distribution parameters. For instance, for a distribution like `Normal` that has parameters `mean` and `std`, we would like to support full broadcasting.

 e.g. `mean` = [0, 0], `std` = [[1], [1]]
=> `mean` (broadcasted) = [[0, 0], [0, 0]]
      `std` (broadcasted) = [[1, 1], [1, 1]]

This should only affect distributions having multiple par

[2017-12-13 18:42] #9 closed

[2017-12-14 07:22] fritzo opened #34 "Rename parameters to match TensorFlow Distributions"
To make it easy to port models between PyTorch and TensorFlow, it would be great if `torch.distributions` used the same distribution names and parameter names as `tf.contrib.distributions`.

- [x] `Categorical(probs)`
- [x] `Normal(loc, scale)`
- [x] `Dirichlet(concentration)`
- [x] `Beta(concentration1, concentration0)`
- [x] `Gamma(concentration, rate)`
- [x] `Exponential(rate)`
- [ ] What else?

[2017-12-14 14:35] alicanb commented on #34
Let's take care of the multiple parameterization here as well? e.g. `Gamma(concentration, rate, theta)`?

[2017-12-15 06:48] #32 closed

[2017-12-15 18:51] fritzo commented on #29
Closing for now since `.sample()` supports `sample_shape`. We can remove `.sample_n()` later.

[2017-12-15 18:51] #29 closed

[2017-12-15 18:52] fritzo commented on #7
Done as of @alicanb 's https://github.com/pytorch/pytorch/pull/4142

[2017-12-15 18:52] #7 closed

[2017-12-15 18:53] fritzo commented on #30
Is this done as of https://github.com/pytorch/pytorch/pull/4193 ?

[2017-12-15 18:54] fritzo commented on #10
Done as of https://github.com/pytorch/pytorch/pull/4142

[2017-12-15 18:54] #10 closed

[2017-12-15 19:13] neerajprad commented on #30
Yes, we can close this and incorporate this into all new distributions.

[2017-12-15 19:13] #30 closed

[2017-12-17 19:29] fritzo opened #36 "Implement differentiable .entropy() methods"
- Normal, Bernoulli, Categorical, Exponential, MultivariateNormal are all easy to implement
- Gamma, Beta, Dirichlet all require `digamma` from https://github.com/pytorch/pytorch/pull/3955

Differentiable entropy is useful in variational inference.

[2017-12-18 05:32] fritzo opened #37 "Implement analytic KL divergence methods"
Mirror of https://github.com/pytorch/pytorch/issues/4330

Framework: https://github.com/pytorch/pytorch/pull/4525
Implementations: https://github.com/probtorch/pytorch/pull/77

[2017-12-18 18:15] #3 closed

[2017-12-18 18:15] #6 closed

[2017-12-18 18:19] alicanb opened #39 "Implement Poisson distribution"
PR #58

[2017-12-18 18:33] alicanb opened #40 "Implement Laplace distribution"

[2017-12-19 18:43] alicanb commented on #11
done as of https://github.com/pytorch/pytorch/pull/4234

[2017-12-19 18:43] #11 closed

[2017-12-21 02:04] #36 closed

[2017-12-21 16:09] alicanb commented on #40
done as of https://github.com/pytorch/pytorch/pull/4289

[2017-12-21 16:09] #40 closed

[2017-12-22 05:42] fritzo opened #42 "Implement Binomial distribution"

[2017-12-22 18:28] alicanb opened #43 "Implement Chi2 distribution"
PR https://github.com/pytorch/pytorch/pull/4425

[2017-12-22 18:40] fritzo opened #45 "Implement polygamma(order,x) function"
PR https://github.com/pytorch/pytorch/pull/4399

The [polygamma](https://en.wikipedia.org/wiki/Polygamma_function) family of functions are the nth derivatives of the log-gamma function: `polygamma(0,x) = digamma(x)`, `polygamma(1,x) = trigamma(x)`. The `Gamma`, `Dirichlet`, and `Beta` need polygamma functions to:
- `digamma` to compute entropy, and `log_prob` gradients
- `trigamma` to compute grad

[2017-12-22 20:57] alicanb opened #46 "change torch.multinomial to torch.categorical"
Similar argument to distributions.Multinomial->distributions.Categorical

[2017-12-22 21:03] alicanb commented on #42
I am taking a shot at this.
Sampling from this as a sum of Bernoulli wouldn't be too effective for larger total_count. I'm considering writing a rejection sampler in C @fritzo, what do you think?

[2017-12-22 21:14] fritzo commented on #42
I'd recommend implementing `Multinomial` first and then implement `Binomial` as a special case of `Multinomial` (in the same way that `Beta` is implemented as special case of `Dirichlet`). I'd also recommend implementing both distributions with small-n assumptions (using `torch.multinomial()` at first?), and address computational concerns in a follow-up PR.

I'm not sure the best sampling scheme f

[2017-12-22 23:03] fritzo commented on #46
Related:
- https://github.com/pytorch/pytorch/issues/4115
- https://github.com/pytorch/pytorch/issues/3764

I agree that it would be nice to have a high-quality random multinomial implementation. There is some unfortunate confusion in that many libraries implement random categorical samplers but name them multinomial samplers: PyTorch, Numpy, TensorFlow. On the one hand it would be nice to have an

[2017-12-26 17:26] fritzo commented on #1
@tbrx any progress on this? @dwd31415 has submitted a MultivariateNormal to Pyro https://github.com/uber/pyro/pull/651/files. Let me know if I can help in any way, as I'd like to ensure this makes it into the PyTorch 0.4 release.

[2017-12-26 18:24] fritzo opened #48 "Fix numerical imprecision in Chi2(df=0.01)"

[2017-12-26 22:09] fritzo commented on #15
Closed by https://github.com/pytorch/pytorch/pull/4328

[2017-12-26 22:09] #15 closed

[2017-12-26 22:31] tbrx commented on #1
Just took a look at the Pyro PR — one thing that looks like it is fairly different is that the Pyro version seems to require that the `loc=…` and `covariance_matrix=…` arguments have to be vectors and matrices, respectively. Here we additionally would potentially have a `batch_shape` as well, corresponding to leading dimensions for these distribution constructor arguments.

[2017-12-26 22:45] fritzo commented on #1
@tbrx Yeah the Pyro distributions are less general than our new PyTorch distributions. That makes it easier to implement a MultivariateNormal (no need for batched Cholesky, e.g.). What do you think about breaking this issue into two steps (two pull requests)?
1. First implement a not-very-general `torch.distributions.MultivariateNormal` that assumes vectors and matrices. When given higher order te

[2017-12-26 23:04] fritzo opened #49 "Implement higher precision gradients for Gamma, Beta, Dirichlet"
PRs https://github.com/pytorch/pytorch/pull/4369 https://github.com/pytorch/pytorch/pull/4421

@martinjankowiak has implemented higher-precision gradients for Gamma, Beta, and Dirichlet distributions based on Rice saddle point expansions. Derivations are here: [Gamma](https://github.com/fritzo/notebooks/blob/master/gamma-reparameterized.ipynb), [Beta and Dirichlet](https://github.com/fritzo/notebo

[2017-12-26 23:07] tbrx commented on #1
Yeah, that is a good idea. The only real issue then is the lack of a differentiable `potri`, and we can use a workaround like in @dwd31415's code.

Allowing a batch shape for `loc`, at least, is easy enough. I'll put together a PR which throws a `NotImplementedError` when there is a batch shape on the covariance, and then we can think about whether to add initial support using python loops.

[2017-12-26 23:09] fritzo commented on #49
@gchanan @colesbury When would be the best time for me to modify PyTorch's `standard_gamma_grad()` and `dirichlet_grad()`? If you're in the process of refactoring these then I can hold off for a couple weeks, otherwise I'll try to create a PR this week. (@martinjankowiak and I were testing these last week when `Gamma.rsample()` broke, hence my eagerness to get it fixed.)

[2017-12-27 00:11] gchanan commented on #49
@fritzo all the changes I was planning to make in the short term are in, so go ahead!

[2017-12-28 15:46] apaszke commented on #46
I don't think we'll do this. Not only others make the same mistake, it would also be quite a breaking change. It wasn't the same for `torch.distributions` because they have been newly introduced and were never part of any release.

[2017-12-28 18:45] #5 closed

[2017-12-28 18:45] #8 closed

[2017-12-29 19:18] fritzo opened #55 "Register .transform methods for distribution parameters"
PR https://github.com/pytorch/pytorch/pull/4902

Each distribution should know the support of its parameters and results (e.g. `(-inf,inf)`, `(0,inf)`, `(0,1)`). This issue is about registering transform pairs for parameters (unlike distribution outputs, parameters do not need a `.log_abs_det_jacobian()` method and so do not need a full `Bijector` class).

See [relevant section in the Design Doc](

[2017-12-29 19:24] fritzo opened #56 "Register .transform Bijectors for distribution samples"
PR https://github.com/pytorch/pytorch/pull/4902

Each distribution should know the support of its sample outputs (e.g. `(-inf,inf)`, `(0,inf)`, `(0,1)`). This issue is about registering bijectors for sample outputs (unlike distribution parameters, outputs  need a `.log_abs_det_jacobian()` method and so need a full `Bijector` class).

See [relevant section in the Design Doc](https://docs.google.com

[2017-12-30 01:28] #16 closed

[2017-12-30 19:57] alicanb commented on #46
Alrighty then 😄

[2017-12-30 19:57] #46 closed

[2018-01-01 09:58] ragulpr opened #59 "Implementing Weibull distribution?"
Great work everyone. I'm planning on implementing the Weibull distribution for pytorch anyways, is there any interest in merging this here?
I just wanted to give a heads up if someone else is thinking about it. I can give details about the timeline after consulting with my lab.

[2018-01-02 02:03] #43 closed

[2018-01-02 09:43] alicanb commented on #48
fixed by https://github.com/pytorch/pytorch/pull/4425

[2018-01-02 09:43] #48 closed

[2018-01-02 16:33] tbrx commented on #1
Does anyone know of a currently-supported way to batch solve or batch factor matrices? Neither `torch.potrf` or `torch.gesv` have batched versions at the moment as far as I can tell. There is a batched LU decomposition in `torch.btrifact`, but unfortunately that does not currently support `.backward()`.

[2018-01-02 16:58] fritzo opened #61 "Port gamma and dirichlet implementations to CUDA"

[2018-01-02 17:19] #45 closed

[2018-01-02 17:19] #17 closed

[2018-01-02 17:28] fritzo commented on #59
One clean way to implement this would be via `PowerBijector` and a `ScaleBijector`. I believe that if `X ~ Exponential(1)` then `W=X**(1/k)/lambda` is `Weibul(k,lambda)`. However I'm not sure we'll have time to implement Bijectors by the PyTorch 0.4 release.

[2018-01-02 20:02] fritzo opened #62 "Implement Pareto distribution"
Mirror of https://github.com/pytorch/pytorch/issues/4434

Suggested by @vishwakftw

Once we have Bijectors, this should be easy to do with an `ExpBijector` and an `AffineBijector`, since for `X ~ Exp(alpha)`, transforming `Y = xm exp(X)` makes `Y ~ Pareto(xm, alpha)`.

[2018-01-02 20:03] #49 closed

[2018-01-02 20:09] alicanb opened #63 "Implement Student's t-distribution"
PR https://github.com/probtorch/pytorch/pull/65

[2018-01-02 20:10] fritzo commented on #61
@rachtsingh has already started a CUDA implementation of the Gamma sampler.

[2018-01-02 20:37] fritzo commented on #1
@tbrx Since we already know the LU decomposition (`L = U' = sigma_tril`), can we `btrisolve` by reconstructing fake outputs from `torch.btrifact`? It might take a little reverse engineering to figure out the `btrifact` output format.

[2018-01-02 21:40] fritzo commented on #4
@alicanb how is this going? I forgot to mention we have a [reference implementation](https://github.com/uber/pyro/blob/dev/pyro/distributions/multinomial.py) in Pyro.

[2018-01-02 21:57] alicanb commented on #4
I'm almost done, I got the `log_prob` (thanks to your ref) and `sample`, all left is `entropy` and tests.

[2018-01-03 01:49] fritzo commented on #4
Feel free to leave `.entropy()` not implemented and instead allow `NotImplementedError` in `TestDistributionShapes.test_entropy_shape()`:
[code]

[2018-01-03 03:39] vishwakftw commented on #62
With the lack these features (temporarily), could I just implement the distribution using the quantile?

[2018-01-03 03:56] fritzo commented on #62
Sure, don't let lack of `Bijector` hold you back. I'm mostly building up evidence that `Bijector`s would simplify lots of things.

[2018-01-03 04:11] vishwakftw commented on #62
Okay thank you. Just one more clarification, where do I issue the PR?

[2018-01-03 04:54] fritzo commented on #62
We've been using a two-stage review process to ease the workload for PyTorch folks:
1. First issue a PR against probtorch/pytorch master. We review each others PRs for statistical correctness and documentation etc. When this is accepted, **Close** (do not merge) this PR, then
2. Open a PR against pytorch/pytorch master and `cc @apaszke` who is our main reviewer for PyTorch code compliance.

[2018-01-03 05:03] fritzo commented on #62
Also you can see what files need to be changed by looking at an existing PR like `Chi2`: https://github.com/pytorch/pytorch/pull/4425/files

[2018-01-03 05:16] vishwakftw commented on #62
@fritzo Thanks for the references.

[2018-01-03 08:48] ragulpr commented on #59
I'll look into the Bijector, but there's other type of abstractions available. For example for the continuous weibull;
`g~gumbel(u,s) -> exp(g) ~ Weibull(exp(u),1/s)`. But I think the discrete Weibull is the most useful in practice. To form the discrete distributions from the continuous there might be better abstractions starting with the Cumulative Hazard function, but in both continuous and disc

[2018-01-03 11:43] rachtsingh commented on #61
Will land either with or just after https://github.com/probtorch/pytorch/pull/58

[2018-01-03 15:59] fritzo commented on #59
To clarify we don't yet have Bijejctors in torch.distributions :smile: I'm just trying to gather evidence that Bijectors would simplify lots of things. I didn't realize you were implementing Discrete Weibull; Bijectors will only handle continuous distributions.

[2018-01-04 00:15] fritzo opened #67 "Update documentation on main distributions page"
http://pytorch.org/docs/master/distributions.html

[2018-01-05 00:19] #62 closed

[2018-01-05 03:48] fritzo commented on #4
Hi Alican, one detail that just came up in Pyro is the ability to score a batch of multinomials with different `n` in each batch. This came up in document modeling with variants of LDA in Pyro. We're training on batches of documents each with a different word count. While Pyro's `.sample()` method fixes a single `n` for each sample, the `.log_pdf()` method ([code](https://github.com/uber/pyro/blob

[2018-01-05 03:51] fritzo commented on #4
Also, feel free to copy Pyro's [test examples](https://github.com/uber/pyro/blob/89d6cb8/tests/distributions/conftest.py#L141).

[2018-01-05 04:05] fritzo commented on #63
@alicanb Do you it's worth implementing a `standard_t_grad()` function so that `StudentT` has deterministic reparameterized gradients? It took Martin and I about two solid weeks to implement each of `standard_gamma_grad()` and `dirichlet_grad()`, but at this point it would probably take less than a week to implement a `standard_t_grad`.

[2018-01-05 21:58] fritzo opened #68 "Ensure types are consistent and check types in tests"
Currently the tensor type situation is a mess.
- `Bernoulli.sample()` returns a `FloatTensor`
- `Bernoulli.enumerate_support()` returns a `LongTensor`
- `Categorical.sample()` returns a `LongTensor`
- `Categorical.enumerate_support()` returns a `LongTensor`
- Everything else returns a `FloatTensor`

I believe the right thing to do is:
1. ensure `.enumerate_support()` type matches `.sample()` type.

[2018-01-05 22:46] fritzo commented on #1
Looks like we could use @zou3519's https://github.com/pytorch/pytorch/pull/4502

[2018-01-06 16:27] vishwakftw commented on #59
@ragulpr Are you implementing the Weibull distribution?

[2018-01-06 17:25] alicanb opened #69 "Implement standard_t_grad()"

[2018-01-07 06:12] vishwakftw opened #70 "Implementation of Gumbel Distribution"
Suggested by @fritzo . Please let me know your thoughts.

[2018-01-07 16:31] vishwakftw commented on #70
@fritzo This is under review now in pytorch/pytorch.

[2018-01-08 08:25] tbrx commented on #1
Yes, that looks good! I'll implement as soon as `bgesv` is merged into upstream master.

[2018-01-08 15:20] alicanb opened #74 "Implement Concrete distribution"

[2018-01-09 02:16] #70 closed

[2018-01-09 02:17] #68 closed

[2018-01-09 02:21] fritzo commented on #74
Duplicate of #2. See example implementation by @rachtsingh at uber/pyro#588

[2018-01-09 02:26] alicanb commented on #74
Sorry, my bad

[2018-01-09 02:26] #74 closed

[2018-01-09 02:52] fritzo commented on #74
It's nice that we're getting so much done we lose track of what remains :wink:

[2018-01-09 02:54] rachtsingh commented on #74
Ah yeah, let's port this after Bijectors land? I think I still need to write some tests, but the failures were PyTorch 0.3 stuff.

[2018-01-09 13:47] vishwakftw commented on #63
This can be closed. @fritzo @alicanb

[2018-01-09 15:06] #63 closed

[2018-01-10 09:49] ragulpr commented on #59
Yes, I just started

[2018-01-11 16:13] tbrx opened #78 "Implement truncated normal distribution"
I recently found myself wanting a truncated normal distribution (e.g. a univariate normal which has parameters for specifying minimum and/or maximum values).

Is this a sufficiently common need to include here? If so, I'll volunteer.

[2018-01-11 16:28] alicanb commented on #78
Can we make it more general than TruncatedNormal? I wrote it in the [design doc](https://docs.google.com/document/d/1wnABg0cdyaVMr-Xqz_brHBwnPJuzTeSk3Oqko2HHSfE/edit#heading=h.h1velr3u7xf) but we didn't discuss it, and honestly I don't know if there's any other way that explicitly providing truncated pdfs

[2018-01-11 16:37] fritzo opened #79 "Support broadcasting of sample x param"
@alicanb observed that `Normal` supports broadcasting whereas `Categorical` does not:
[code]

[2018-01-11 16:42] fritzo opened #80 "Implement broadcast_all() in C/C++"
The `distributions.utils.broadcast_all()` is used in all distribution constructors to clean up parameters. This is expensive. It would be nice to make this cheaper by reimplementing in C/C++.

[2018-01-11 16:55] fritzo commented on #78
Reparameterization is tricky for bounded distributions. I see a few possible ways to handle this in a more general way:
1. Only support truncation for univariate distributions that provide `.cdf()` and `.icdf()` methods.
2. Use [rejection sampling variational inference](https://arxiv.org/abs/1610.05683) as in https://github.com/uber/pyro/pull/659. This doesn't fit into the current torch.distributi

[2018-01-11 17:04] alicanb commented on #78
I think it's a good idea to implement `.log_cdf()` and `.quantile()` anyway.

[2018-01-11 17:11] tbrx commented on #78
Even if we have `.cdf` and `.icdf` (or `.log_cdf` and `.quantile`) I still am not sure that there is a good _automatic_ way of handling general bounds, particularly if the bounds are used to isolate tail probabilities where numerical precision of these functions is not particularly great.

For example, I think for truncated normal we could use inverse transform sampling if we are within ±5 standar

[2018-01-11 17:25] fritzo commented on #78
Hmm if we use rejection sampling to construct a sample, can we use `.cdf` to compute the reparameterized gradient as something like
[code]
where `t` is the parameter being varied?

[2018-01-11 18:00] neerajprad commented on #79
@fritzo, @alicanb - Isn't this issue due to categorical having event dimensions (which are not broadcasted) vs. normal not having any event dimensions which allows for broadcasting along the batch (parameter) dimensions? We started with only allowing for broadcasting along the sample dimensions (leftmost), and normal would have thrown an exception here too. This is also the broadcasting behavior i

[2018-01-11 19:25] fritzo commented on #4
@alicanb how's this going? We're about to switch Pyro over to using PyTorch distributions. Can I help in any way to finish Multinomial? I'm happy to push docs or whatever you'd like to this branch.

[2018-01-11 19:31] alicanb commented on #4
Can you help me fix the failing test I mentioned? I tried the lambda trick you suggested, it fixes the 1d test for `logit` input but `gradcheck_log_prob` still fails for 2D `probs`

[2018-01-11 19:32] alicanb commented on #4
Once we get this done, `Binomial` is very easy to implement

[2018-01-11 19:32] fritzo commented on #4
Sure I'll take a look today at the failing test.

[2018-01-12 15:08] alicanb commented on #79
Closed by https://github.com/pytorch/pytorch/pull/4614

[2018-01-12 15:08] #79 closed

[2018-01-12 15:29] tbrx commented on #78
Something along those lines, yes — we just need to be able to re-normalize the part of the distribution which remains after truncation.

There is still the problem of tails. For example, suppose I would like to sample from a standard normal distribution with bounds `lower=6`, `upper=8`.

The `cdf(x)` of a standard normal distribution is given by `0.5*(1+torch.erf(x / math.sqrt(2)))`. For a `FloatT

[2018-01-12 17:46] alicanb opened #82 "Bernoulli(logits=-float('inf')).log_prob(torch.FloatTensor([1])) returns nan"
@neerajprad can you take a look?

[2018-01-12 18:33] neerajprad commented on #82
@alicanb - This is because logits are used as is without clamping. This was based on the assumption that providing 0 as prob values from the user might be common, but when the user provides logits they are probably directly using the output of a neural net, and we can offload the onus of doing inf checks to them. That's the reason why the tests too use very high/low values for logits but not `infs

[2018-01-12 19:59] alicanb commented on #82
We should think about what we want to return `log(0)`: `log(eps)` or `-inf`? If we are ok with log(eps) then let's clamp logits to [log(eps), log(1-eps)] like we do do probs. This would get rid of the mutating issue in multinomial.

If we support a mode without clamping, I don't know how to make things consistent. How about let's clamp logits as well for now, and write some cases in the design doc

[2018-01-13 18:31] alicanb commented on #4
closed via https://github.com/pytorch/pytorch/pull/4624

[2018-01-13 18:31] #4 closed

[2018-01-14 17:36] fritzo opened #86 "Implement Geometric distribution"
The sampler may be able to be implemented via `.exponential_().floor_()`.

PR https://github.com/probtorch/pytorch/pull/92

[2018-01-14 17:36] fritzo opened #87 "Implement F-distribution"

[2018-01-14 17:39] vishwakftw commented on #87
I will take it up.

[2018-01-15 02:00] vishwakftw commented on #37
Based on https://github.com/pytorch/pytorch/pull/4525 and https://github.com/pytorch/pytorch/pull/4638, should not this be closed? Now that the framework is ready, I think anyone can add.

[2018-01-15 03:29] #37 closed

[2018-01-15 03:29] fritzo commented on #37
@vishwakftw Feel free to clean up issues. Sometimes we forget to close things that are done.

[2018-01-15 03:46] fritzo opened #88 "Implement HomogeneousMixture distribution"
`HomogeneousMixture(probs, components, dim=-1)` where `components` is a `Distribution` with one extra dimension.

[2018-01-15 03:46] fritzo opened #89 "Implement HeterogeneousMixture distribution"
`HeterogeneousMixture(probs, components)` where all components have the same shape.

[2018-01-15 17:33] alicanb opened #91 "KL for discrete distributions"

[2018-01-17 15:55] vishwakftw commented on #42
I am closing this issue, since `Binomial` is merged into `pytorch/master`.

[2018-01-17 15:55] #42 closed

[2018-01-17 16:05] alicanb opened #94 "Implement Wishart distribution"
I think this will need multivariate polygamma

[2018-01-19 03:07] fritzo opened #96 "Implement ExponentialFamily base class"
Consider implementing an `ExponentialFamily` class inserted in the class hierarchy between `Distribution` and e.g. `Normal` and `Exponential` distributions. If this class defined two methods `.natural_params()` and `.log_normalizer()`, then we might be able to systematically compute entropy and kl divergences for any derived or pair of derived classes. While these computations might be inefficient

[2018-01-19 18:20] alicanb opened #98 "Implement Logistic distribution"

[2018-01-19 18:35] fritzo opened #99 "Implement BivariateNormal distribution"
I think it would help to have a `BivariateNormal` distribution. The `MultivariateNormal` #52 is currently blocked in lack of batched/differentiable linear algebra operations, but for bivariate normals, it's simple to write the cholesky factorizations and inverses out by hand. This would also serve as a great reference implementation as we test the `MultivariateNormal` once that is implemented. Her

[2018-01-21 09:35] vishwakftw commented on #67
Could I take it up?

[2018-01-21 17:49] fritzo commented on #67
@vishwakftw Sure. Right now the docs only mention REINFORCE. Could you mention that there are two main ways to estimate stochastic gradients:
1. the score function estimator aka REINFORCE, using `grad(dist.log_prob().sum(), ...)`, and
2. pathwise estimators using reparameterized gradients via `grad(f(dist.rsample()), ...)`.

[2018-01-21 17:51] #87 closed

[2018-01-22 08:49] #86 closed

[2018-01-22 09:00] vishwakftw commented on #91
- [X] Bernoulli
- [ ] Binomial
- [ ] Categorical
- [ ] Geometric
- [ ] Poisson (after merge with `master`)

Are there more?

[2018-01-22 14:32] vishwakftw commented on #96
@fritzo Please have a look at this [gist](https://gist.github.com/vishwakftw/a048b9ad64e2342dbd11d4edb645b0cb). I would like to know if I am on the right track.

[2018-01-22 15:45] fritzo commented on #91
You can get `OneHotCategorical` for free from `Categorical`. There is also `Multinomial` but I believe that is intractable.

[2018-01-22 15:59] fritzo commented on #96
@vishwakftw I think it would be better to implement this as an abstract base class with all work done in the methods. This way this extra class has near-zero overhead for existing use cases. We definitely do not want to perform any work in an `__init__` method.
[code]

[2018-01-25 11:15] vishwakftw commented on #39
This has been merged into `pytorch/master`, and hence I am closing ths.

[2018-01-25 11:15] #39 closed

[2018-01-25 12:38] vishwakftw commented on #98
I have been looking and trying for sometime, and couldn't find a closed form solution yet. Sorry.

[2018-01-25 18:10] fritzo commented on #98
Can we simply implement this via the inverse-cdf method? I believe we can define this as a
[code]

[2018-01-25 18:20] alicanb commented on #98
Actually, I'm not sure if we need this. I had thought logistic was part of `tf.distributions`, but I realized it's not. Given that it's relatively easy to create this with `Transform`s, I'm ok with removing this.

[2018-01-25 18:25] alicanb commented on #98
@fritzo oh here's an interesting problem: I think `TransformedDistribution(Uniform(0, 1), [SigmoidTransform().inv, AffineTransform(...)])` will produce correlated samples across batches. Should we enforce consistency between parameters of transforms & parameters of base distribution?

[2018-01-25 18:26] rachtsingh commented on #61
Discussing here: https://github.com/pytorch/pytorch/pull/4839

[2018-01-25 18:26] #82 closed

[2018-01-25 18:27] rachtsingh commented on #2
Will port after https://github.com/pytorch/pytorch/pull/4771 is merged.

[2018-01-25 18:29] fritzo commented on #98
@alicanb I think it's just a bug. The following should be more correct (but probably still has bugs :smile:):
[code]

[2018-01-25 18:30] fritzo commented on #98
And yes I think it's fine to close this since it's so easy to implement via `TransformedDistribution`. It might make a good example in the the `TransformedDistribution` docs though.

[2018-01-26 17:10] fritzo commented on #99
:+1: Thanks Brooks for starting this. In Pyro, I found bugs in our `MultivariateNormal` gradients only by hand-implementing a `BivariateNormal`.

[2018-01-26 18:12] tbrx commented on #99
Is the plan to send this upstream (i.e. is a `BivariateNormal` independently of interest even if we were to have a fully functional `MultivariateNormal`)? Or is this intended primarily as (a) stopgap and (b) test target?

[2018-01-26 18:44] alicanb commented on #34
closed via https://github.com/pytorch/pytorch/pull/4688

[2018-01-26 18:44] #34 closed

[2018-01-26 19:06] apaszke commented on #99
Maybe we could implement `MultivariateNormal` that fails if it's not equivalent to `BivariateNormal`, and later remove this restriction?

[2018-01-27 11:39] ragulpr commented on #34
Is it bikeshedding to take this opportunity to add deprecation notice for `NLloss` in favor of `bernoulliNLLLoss`? Naming here always confuses me 😄

[2018-01-27 16:15] fritzo opened #106 "Implement .mean() methods"

[2018-01-27 16:15] fritzo opened #107 "Implement .var() methods for variance"

[2018-01-27 16:17] alicanb commented on #106
Let's have mean, stddev and variance, I've already implemented this, but I'm lacking tests. I'll probably write a test suite called TestAgainstScipy that compares log pdf, entropy, mean, stddev, variance with scipy implementations

[2018-01-28 20:34] #12 closed

[2018-01-28 20:34] fritzo commented on #13
Woo hoo, glad to have this done!

[2018-01-28 20:34] #13 closed

[2018-01-28 21:01] fritzo opened #110 "Write finite-difference tests for `.log_abs_det_jacobian()` methods"
I think we could do this by numerically approximating the Jacobian via finite difference.

[2018-01-29 17:42] fritzo opened #111 "Implement standard_gamma_grad(), dirichlet_grad() in CUDA"

[2018-01-29 17:43] fritzo opened #112 "Implement StickBreakingTransform.log_abs_det_jacobian()"
This is needed to do HMC over simplex-constrained random variables, e.g. for `Dirichlet` random variables.

It would really help to have tests #110 complete to test correctness of this tricky bit of math.

[2018-01-29 21:21] rachtsingh commented on #2
Implemented here: https://github.com/probtorch/pytorch/pull/113

[2018-01-29 22:56] alicanb opened #114 "Implement PowerTransform"

[2018-01-29 23:01] alicanb opened #115 "Make Distributions behave like first class values"
This would involve
- `+`,`-`,`/`,`*` (`AffineTransform`)
- `.pow()`,`**` (`PowerTransform`)
- `.log()`, `.exp()` (`LogTransform`, `ExpTransform`)

Currently blocked by tensor-Variable merger

[2018-01-30 03:58] vishwakftw commented on #91
I will take this up for the time being. @fritzo @alicanb

[2018-01-30 04:10] alicanb commented on #91
It might be a good idea to build a KL table to see which pairs we are
missing, I tried to do it today, but couldn't do it in github. Maybe design
doc ?

On Mon, Jan 29, 2018, 10:58 PM Vishwak Srinivasan <notifications@github.com>
wrote:

[2018-01-30 04:11] vishwakftw commented on #91
@alicanb Yeah, that would be a great idea. I will add it over there.

[2018-01-30 13:54] vishwakftw commented on #91
I think I will look at this later. Sorry @alicanb

[2018-01-30 23:59] #56 closed

[2018-01-30 23:59] #55 closed

[2018-01-31 00:00] fritzo commented on #106
Merged as https://github.com/pytorch/pytorch/pull/4923

[2018-01-31 00:00] #106 closed

[2018-01-31 00:00] fritzo commented on #107
Merged as https://github.com/pytorch/pytorch/pull/4923

[2018-01-31 00:00] #107 closed

[2018-01-31 00:54] fritzo opened #117 "kl_divergence(Bernoulli(0), Bernoulli(0)) == NAN"
It looks like we could improve numerical stability of `kl_divergence()`.
- [x] `kl_divergence(Bernoulli(0), Bernoulli(0)) == 0` (currently NAN)
- [x] `kl_divergence(Bernoulli(0), Bernoulli(1)) == flaot('inf')` (currently NAN)
- [x] `Categorical`
- [x] `OneHotCategorical`
- [ ] `Poisson`

[2018-01-31 00:55] fritzo commented on #117
@vishwakftw Do you want to look into this?

[2018-01-31 01:16] fritzo opened #118 "kl_divergence() for MultivariateNormal"
Requires https://github.com/pytorch/pytorch/pull/4950

[2018-01-31 01:16] fritzo commented on #118
cc @vishwakftw

[2018-01-31 01:54] vishwakftw commented on #117
@fritzo Sorry about the Bernoulli distribution. I have fixed it locally, and currently I am waiting for the build to complete for testing. W.R.T. the other, could you suggest what needs to be done?

[2018-01-31 02:22] fritzo commented on #117
No worries :smile: I'm glad we could get the implementations merged early so we can test things in Pyro.

I think it would be good to have tests of edge cases as in Neeraj's `test_bernoulli_gradient`. Let's add something like `TestKL.test_edge_cases()` with a few tests like
[code]

[2018-02-02 15:38] fritzo opened #120 "Implement differentiable .cdf() for univariate distributions"
This would allow generic implementation of reparameterized truncated distributions.

[2018-02-02 17:05] vishwakftw commented on #120
I think if we add `.cdf()`, we can add autograd based tests for `.log_pdf()`.

[2018-02-03 12:07] vishwakftw commented on #117
Fixed. Closing in favour of https://github.com/pytorch/pytorch/pull/4961.

[2018-02-03 12:07] #117 closed

[2018-02-04 11:29] vishwakftw commented on #96
Closed in favour of https://github.com/pytorch/pytorch/pull/4876.

[2018-02-04 11:29] #96 closed

[2018-02-05 18:16] rachtsingh commented on #67
On a side note, I think [this documentation](http://pytorch.org/docs/master/distributions.html#torch.distributions.Distribution.rsample) on the shape of the outputs of `rsample/sample` is pretty confusing. Is there a different doc that I'm missing? In comparison TF has [very good documentation on shapes](https://www.tensorflow.org/api_docs/python/tf/distributions/Distribution).

Willing to take up

[2018-02-05 18:41] tbrx commented on #67
Possibly sections of the design document could be repurposed as documentation? I agree we need clearer discussion of `batch_shape`, `event_shape`, and `sample_shape` (possibly up front?).

Also, IMO it's a bit confusing to lead with discussion of REINFORCE / policy gradients. I think a really nice thing about the way `torch.distributions` is set up is that, with `.rsample` implemented nearly every

[2018-02-05 19:01] rachtsingh commented on #67
Yeah, I think it would be better organized as:

1. Explanation of constructing and using distributions, including a discussion of batching + shapes.
2. Explanation of why backwards isn't as easy as in regular PyTorch, and the two most obvious solutions, REINFORCE / reparametrization gradients, along with the corresponding `torch.distributions` API.
3. 'Advanced' features (i.e., Transformed Distrib

[2018-02-05 19:02] rachtsingh opened #123 "Implement `log_abs_det_jacobian` for the `BoltzmannTransform`"
See https://github.com/probtorch/pytorch/pull/113

[2018-02-05 19:04] fritzo commented on #67
@martinjankowiak observed that these can be described in familiar terms:
- Batching over `sample_shape` is *independent, identically distributed*
- Batching over `batch_shape` is *independent* but differently distributed, depending on params
- Batching over `event_shape` is generally dependent and correlated

[2018-02-05 19:13] fritzo commented on #123
This is tricky because `BoltzmannTransform` would be used in two important ways:
1. (the existing way) is to project an `n`-dimensional unnormalized vector of logits down to an `n-1`-dimensional subspace (the simplex). This is very useful for parameterizing simplex-constrained distributions in optimization settings, e.g. parameterizing a `Categorical` distribution in variational inference or MAP e

[2018-02-05 19:27] fritzo commented on #123
I'm not sure it is even possible to implement `RelaxedCategorical` from `TransformedDistribution(Gumbel(...), BotlzmannTransform())` because the transform would need to project out / marginalize over one coordinate. This is different behavior from any of our existing `TransformedDistributions` and from Tensorflow's transformed distributions. It is a research question whether this is meaningful and

[2018-02-05 22:29] rachtsingh opened #124 "Consider implementing RelaxedOneHotCategorical via BoltzmannTransform"
We might consider implementing RelaxedOneHotCategorical via a `BoltzmannTransform` and `Gumbel` (with the appropriate location), and overriding the `log_prob` method as described in https://github.com/probtorch/pytorch/issues/123. This is fewer lines of code, but might impact performance, and it's worth investigating briefly.

[2018-02-05 23:11] alicanb commented on #67
Can somebody who's working on this fix `ExponentialFamily` doc as well? math is not rendering at the moment.

[2018-02-06 01:55] vishwakftw commented on #67
@rachtsingh I am done editing. A recent PR was merged which included the reparameterization trick. Please have a look at https://github.com/pytorch/pytorch/pull/5050.

I thought I fixed the bug in the ExponentialFamily docs, but just realized that it was supposed to be `.. math` instead of `..math`. If someone’s working on another PR, could you please fix this.

[2018-02-06 03:18] rachtsingh commented on #67
I can take this, yes. I'll send a PR soon.

[2018-02-07 03:23] alicanb commented on #67
@rachtsingh fyi some of the docs were fixed in https://github.com/pytorch/pytorch/pull/5093

[2018-02-07 15:19] vishwakftw commented on #120
This is a checklist:
- [ ] Beta
- [X] Cauchy
- [ ] Dirichlet
- [X] Exponential
- [ ] F
- [ ] Gamma
- [X]  Gumbel
- [X] Laplace
- [X] Log Normal
- [X] Normal
- [X] Pareto
- [ ] Student-T
- [X] Uniform

I believe that the `.cdf` for Beta, Gamma, F, Student-T cannot be computed currently.

[2018-02-08 11:59] vishwakftw commented on #118
I would be happy to take it up once the MVN PR is merged.

[2018-02-08 12:02] vishwakftw commented on #59
@ragulpr @fritzo I think the Weibull distribution can now be implemented based on @ragulpr 's transformations and existing transforms. Let me know what both of you think.

[2018-02-08 12:05] vishwakftw commented on #114
Cannot this be as simple as:
`X --> Y = log(X)` --> `affine(Y, loc=0, scale=power) = Z` -->`exp(Z) = X**power`?

[2018-02-09 01:15] rachtsingh commented on #67
(underway here: https://github.com/probtorch/pytorch/pull/126)

[2018-02-09 11:32] ragulpr commented on #59
Is it urgent? I haven't been able to keep up with the latest API and my implementation is slightly behind, or ahead I'm not sure.
Do you propose using a power-transform? I've been experimenting with an api generating any positive distributions pdf,cdf,survivalfunction, hazard etc based on its cumulative hazard, and it seems to work well.
If there's a current demand for the weibull I could submit s

[2018-02-09 12:30] vishwakftw commented on #59
Oh no, it wasn't urgent. Sorry if I made it sound that way. I just was looking at a possible simplistic continuous Weibull distribution using existing transforms. I also very recently realized that the discrete Weibull is a bit harder to do too.

[2018-02-09 18:03] fritzo opened #127 "TransformedDistribution.cdf() ignores axis reversals"
There is a bug in `TransformedDistribution.cdf()` and `.icdf()` where an assumption is made that the transform is monotone increasing rather than monotone decreasing. This came up in https://github.com/pytorch/pytorch/pull/4950 because an `AffineTransform` set `scale < 0`. I'm not sure what is the right thing to do here, i.e. whether there is a generic method to determine whether a transform is mo

[2018-02-09 18:12] vishwakftw commented on #127
In both cases, the function is invertible, thus telling us that the `.cdf` and `.icdf` methods are _mathematically_ valid. In fact, for Gumbel, the scale was -1, in one of the affine transformations, and this didn't cause any issues.

[2018-02-09 18:20] fritzo commented on #127
Hmm I agree that any `.icdf() : [0,1] -> dist.codomain` is useful, but it is standard to define cdf as monotonic increasing `$\int_\{-\infty}^x p(t) dt$`. I think some users will expect this, and it would be good to fix if we can figure out how to.

I believe `Gumbel` bypasses this issue because it has *two* `AffineTransforms` that each reverse the direction, so the signs cancel and `.cdf()` is mo

[2018-02-09 18:22] vishwakftw commented on #127
I think I see the issue here. It is about defining the monotonicity of the resulting `.cdf`. CDFs are always monotonically increasing. This means that such a transform is actually invalid (?) (need confirmation on that).

[2018-02-09 18:23] vishwakftw commented on #127
Implementation wise, this would require adding a check in the `TransformedDistribution`, where we check with all transforms in order to see if this monotonicity is violated.

[2018-02-09 18:28] fritzo commented on #127
Oh sign-reversing transforms are perfectly valid but we should change the `.cdf()` method to something like
[code]

[2018-02-09 18:36] vishwakftw commented on #127
Yes, I think that should work. And sign-reversing transforms are existent (sorry about earlier), since the change of variable method for transforms will accommodate for that by using an absolute value function.

[2018-02-11 16:43] vishwakftw opened #129 "Implement TransformDistribution with multiple base distributions?"
I find this very useful, when implementing certain distributions. I think this would be a bit non-trivial, but is it actually possible to do this?

[2018-02-11 23:32] fritzo commented on #129
Well it might make mathematical sense to implement a `StackDistribution` in analogy to `torch.stack`. This is nice theoretically because it is a categorical product. But in practice, I don't see it simplifying code or increasing correctness, so I'd opt to simply write those cases out by hand. Also in many cases you'd want to transform multiple distributions of different tensor shape, and by the ti

[2018-02-13 04:03] vishwakftw commented on #129
Thanks @fritzo . Considering the difficulty in this task, I will close it.

[2018-02-13 04:03] #129 closed

[2018-02-13 04:04] vishwakftw commented on #127
Closed in favour of https://github.com/pytorch/pytorch/pull/5172 .

[2018-02-13 04:04] #127 closed

[2018-02-14 16:41] #120 closed

[2018-02-14 18:23] fritzo opened #130 "Provide programmatic access to param names and values"
@ragulpr pointed out a need for programmatic access to params. Maybe we can implement this as a  `.canonical_params` property that is an `OrderedDict` from names to their current values. Note that `.params` currently over-specifies possible parameters and does not serve the purpose you want.
[code]

[2018-02-14 18:42] fritzo commented on #130
There is no such standard and I believe there cannot be. This is difficult because some distributions take multiple parameterizations (e.g. `probs` vs `logits` for `Categorical, `covariance_matrix` vs `scale_tril` for `MultivariateNormal`). Not only are these params lazily constructed, but they should all be specified in the `.params` dict. Thus a naive implementation of `.param_values` that simpl

[2018-02-14 18:54] tbrx commented on #130
Ah, sorry, wasn't clear — I meant actually for the values themselves. For example, for the normal distribution, the `.params` has keys `'loc'` and `'scale'`, and the values themselves are at `self.loc` and `self.scale`.

So in theory in the example you gave above we could just loop over the `.params.keys()`, and then `p[key] = getattr(self, key)`.

This doesn't work for either `Categorical` or `Mu

[2018-02-14 22:20] fritzo opened #131 "Implement VonMises distribution for random angles"

[2018-02-15 10:46] vishwakftw opened #132 "Boundary Checking for Distributions"
This refers to issues https://github.com/pytorch/pytorch/issues/5227 and https://github.com/pytorch/pytorch/issues/5248 .

For the former issue, I could come up with a simple alteration to https://github.com/pytorch/pytorch/blob/master/torch/distributions/categorical.py#L52

[code]

[2018-02-15 10:49] vishwakftw commented on #132
cc @fritzo

[2018-02-15 16:31] alicanb commented on #132
@vishwakftw can you reproduce https://github.com/pytorch/pytorch/issues/5227 ?

[2018-02-15 16:32] vishwakftw commented on #132
Yes, I was able to. Actually, the `Categorical` instance is not a problem, just the `sample` method.

[2018-02-16 17:18] fritzo commented on #132
Whoa is `torch.Size()` slicing buggy? I don't see the difference between
[code]
and
[code]
since `len(self._param.shape) >= 1` in all cases.

[2018-02-16 17:20] vishwakftw commented on #132
If `self._param.ndimension() == 1`, then `self._param.size()[:-1]` returns `torch.Size([])` instead of `torch.Size()`. Only the latter seems to works, I think.

[2018-02-16 17:23] fritzo commented on #132
That's a bug in `torch.Size()`, not a bug in torch.distributions.

[2018-02-16 17:24] vishwakftw commented on #132
Oh okay, I thought I should write a temporary fix for it while I doing this as well.

[2018-02-16 17:25] fritzo commented on #132
[code]

[2018-02-16 17:26] fritzo commented on #132
I think it's actually a bug in `.view()`:
[code]

[2018-02-16 17:27] vishwakftw commented on #132
In that case, I will revert this change alone. Sorry about the confusion.

[2018-02-17 04:48] ragulpr commented on #130
I've been working in ways like this:
[code]
And then you can initialize it as

[code]

I rarely find myself accessing the parameters by name `dist.scale` as I'm working with distributions that have different names. I'm not sure about the level of thread-safety of this approach though.

[2018-02-17 09:14] ragulpr opened #135 "What's our type promise?"
As we started the discussion on slack and since the [design doc](https://docs.google.com/document/d/1wnABg0cdyaVMr-Xqz_brHBwnPJuzTeSk3Oqko2HHSfE) isn't up to date on this I thought it would be good to discuss it here for future reference.

Currently in the design doc:
[code]
So it feels like its not settled or I'm just not keeping up

### Problems
1) We worry about keeping combatibility with Numbe

[2018-02-18 01:43] fritzo commented on #135
Hi @ragulpr, after reading your comment on the design doc more carefully, I believe there is merely a misunderstanding of the term 'scalar' in PyTorch. In PyTorch, 'scalar' is a concept orthogonal to 'Variable': a Tensor or Variable is a scalar iff it has empty shape, i.e. `x.shape == torch.Size()`. In torch.distributions we allow two distinct types of inputs for parameters: `Variable`s and `numbe

[2018-02-18 07:44] vishwakftw commented on #131
Will this not require an approximation of the Bessel function, which I think is not available in PyTorch? However, MKL and CUDA supports these as special functions, so I think a PR with Bessel would be required first.

[2018-02-18 07:52] ragulpr commented on #135
Hi and thanks @fritzo for the answer. I don't see how `Distribution` have no state, isn't the parameters a state? By scalar I mean `Number`, which I understand as a  0d float, int or similar.

I think I went into too much detail, in short I'm having a hard time understanding why there's so much effort keeping alive the possibility of initializing a distribution using `Number` parameters while requ

[2018-02-18 08:10] ragulpr commented on #135
Also, I think I see more use for being able to infer current precision/storage of parameters than cast them to other precision in order to abstract [`_finfo`](https://github.com/pytorch/pytorch/blob/22fe542b8e99679f44386a9327b6f11dde336b34/torch/distributions/utils.py#L11) so that it's distribution-independent. This information could also be used instead of `dist.scale.new(_)` but maybe this is bi

[2018-02-18 23:06] fritzo commented on #131
Gosh I haven't looked into the details of implementing `.sample()` and `.log_prob()`. Is the bessel function needed for sampling or for scoring?

[2018-02-19 02:14] vishwakftw commented on #131
I believe it is required for scoring. Sampling can be done without Bessel functions.

[2018-02-20 01:37] ragulpr commented on #135
I missed the related [#5248](https://github.com/pytorch/pytorch/issues/5248), #132 and #134 which seems to establish a nice practice of validating parameters upon construction (not through `broadcast_all`) and some discussion about inconsistency of catching errors for args to `log_prob` vs `sample`. Sorry to starting a separate issue.

[2018-02-23 07:08] vishwakftw commented on #131
This is a good paper to read from https://www.jstor.org/stable/2346732?seq=1#page_scan_tab_contents.

[2018-02-24 11:48] vishwakftw opened #136 "Update Documentation for Distributions"
This should support the new API after Tensors and Variables have been merged.

cc: @fritzo

[2018-03-17 09:54] vishwakftw commented on #132
Closing in favour of https://github.com/pytorch/pytorch/pull/5358

[2018-03-17 09:54] #132 closed

[2018-03-17 09:56] vishwakftw commented on #123
This is being taken care of in https://github.com/pytorch/pytorch/pull/5547

[2018-03-17 09:57] vishwakftw commented on #114
@alicanb Are we going to be implementing this?

[2018-03-17 13:30] alicanb commented on #114
Sure, want to take it?

On Sat, Mar 17, 2018, 5:57 AM Vishwak Srinivasan <notifications@github.com>
wrote:

[2018-03-17 17:20] vishwakftw commented on #114
I think I can take it up. I will let you know otherwise soon.

[2018-03-17 19:49] fritzo commented on #114
@vishwakftw if you submit a PR for `PowerTransform`, could you also rename `BoltzmannTransform` to `SoftmaxTransform` in that PR? I'd submit a PR for the renaming but I don't want to overload the PyTorch folks with too many tiny PRs.

[2018-03-20 04:05] fritzo opened #138 "Support serialization of Constraint objects"
Currently the `ConstraintRegistry` registers `Constraint` objects either by type or by id. This fails to work for serialized constraints, which get a different id when loaded. Possible fixes include:
- always hashing by type (this looks easier)
- implementing hash and equality comparison for the constraints

PyTorch PR: https://github.com/pytorch/pytorch/pull/5910

[2018-03-20 04:06] #1 closed

[2018-03-20 21:57] alicanb opened #140 "Implement Kumaraswamy distribution"
I'm in process of refactoring probtorch to use pytorch distributions, Kumaraswamy is the only distribution that we have missing in pytorch.

[2018-03-21 05:20] #138 closed

[2018-03-21 05:23] fritzo commented on #112
This is being implemented in https://github.com/pytorch/pytorch/pull/5547

[2018-03-23 15:37] vishwakftw commented on #140
If we finish `PowerTransform`, this should be simple. From Wikipedia:

[2018-03-24 14:37] vishwakftw commented on #140
Shall I submit a PR with Kumaraswamy Distribution?

[2018-03-24 14:47] alicanb commented on #140
Sure, thanks for doing it!

On Sat, Mar 24, 2018, 10:37 AM Vishwak Srinivasan <notifications@github.com>
wrote:

[2018-03-25 03:53] vishwakftw commented on #114
Closed in favour of https://github.com/pytorch/pytorch/pull/5976.

[2018-03-25 03:53] #114 closed

[2018-03-27 05:39] SsnL commented on #110
BTW, we now have `torch.slogdet` :)

[2018-03-28 19:45] fritzo commented on #112
This was implemented in pytorch#5547 but is buggy and does not work. We should add tests and fix the bugs.

@alshedivat Have you used `StickBreakingTransform.log_abs_det_jacobian()` at all? Do you have any ideas for tests?

[2018-03-28 20:46] alshedivat commented on #112
@fritzo, my implementation is based on [Stan's reference manual, v2.17.0](https://github.com/stan-dev/stan/releases/) (Section 35.6, pp. 408-410) and uses the inverted stick-breaking construction. I also used an offset as suggested in the manual to make sure all zeros vector maps to the center of the simplex. I have used `LogisticNormal` distribution which is based on this transform.

**Note:** Th

[2018-03-28 21:09] fritzo commented on #112
@alshedivat Thanks for explaining. @SsnL pointed out that we could use [torch.slogdet](http://pytorch.org/docs/master/torch.html#torch.slogdet), but we would need to deal with the Jacobian not being square.

[2018-03-29 22:22] dustinvtran commented on #112
Thanks for pinging me. We haven't implemented and tested a `log_abs_det_jacobian` for the stick breaking transform. I wholeheartedly agree with this direction though :) Stick breaking transforms are great.

[2018-04-04 15:01] vishwakftw commented on #118
Closed in favour of https://github.com/pytorch/pytorch/pull/6172.

[2018-04-04 15:01] #118 closed

[2018-04-05 05:48] #112 closed

[2018-04-06 04:51] neerajprad opened #145 "Distributions returning NaN at support boundary"
The following distributions (I only checked distributions whose support is positive or real) end up returning NaN when we pass `Inf` or -`Inf` to `log_prob`.

[code]

I think it was part of our initial design doc to ensure that we did not raise error or return NaN for values in the support of the distribution, and tried to ensure that Bernoulli and Categorical returned valid values at the boundari

[2018-04-09 20:27] apaszke commented on #145
Do we really treat `inf` as something in the support? I wouldn't. It's not a real number and would never be a result of sampling

[2018-04-10 05:37] neerajprad commented on #145
That's true. Even though sampling from the same class will not produce it, there are many cases where we might want to score some value that is produced through an external routine (like the leapfrog integrator in HMC), and these can easily generate `inf`. Our constraints checks for support will pass with `inf`, but it will likely fail elsewhere.

I think it is fine to not support `inf` in the gen

[2018-04-10 19:04] apaszke commented on #145
What's the density at inf though? Do you want to return a limit, which is basically 0? I'd say that if you have a procedure that can generate infs/NaNs then it should take care of handling the extreme cases, because they probably won't happen in most other use cases.

Not sure what the failure patterns and `try catch` relate to. Can you please elaborate?

[2018-04-10 20:49] neerajprad commented on #145
tldr: Things are pretty good on the PyTorch front. I am also convinced that the solution is for the client code to handle this, and PyTorch seems to handle NaNs consistently (at least on the few distributions that I have encountered this). Most other libraries also return NaNs for the scenarios I mentioned, so I am closing this question.

Agreed, I am convinced that's the only sustainable solution

[2018-04-10 20:49] #145 closed

[2018-04-10 21:45] apaszke commented on #145
Great, thanks for the explanation!

[2018-04-11 00:04] fritzo commented on #136
@vishwakftw it looks like PyTorch may release in a couple weeks. Want to work on a docs PR with me? I'll cc you if I put up a draft PR.

[2018-04-17 10:32] fehiepsi opened #146 "Disable covariance_matrix and precision_matrix constraints in mvn"
The covariance_matrix validation requires us to compute eigenvalues and the precision_matrix computation requires us to compute the inverse of `scale_tril`. They are slow because they are O(N^3) complexity and unnecessary if we know `scale_tril` (from [Sylvester's law](https://en.wikipedia.org/wiki/Sylvester%27s_law_of_inertia), we know that the eigenvalues of the covariance_matrix are positive if

[2018-04-17 11:00] tbrx commented on #146
Are you suggesting we disable the validation, or disable them as ways of parameterizing the MVN entirely?

Definitely `scale_tril` is going to be far more performant than the other options. We should probably make this more clear in the docs.

[2018-04-17 11:56] fehiepsi commented on #146
I just suggest we disable the validation (by removing related constraints). It is helpful to have them in `init` and `lazy_property` because people usually use them without thinking about the scale_tril.

[2018-04-17 16:33] fritzo commented on #146
That would violate our contract on`.arg_constraints` is: if any (even optional) arg can be constrained then it appears in `.arg_constraints`. I suggest we instead figure out how to detect whether a lazy property has been constructed, and filter them out of [the validation loop](https://github.com/pytorch/pytorch/blob/master/torch/distributions/distribution.py#L30).

[2018-04-17 16:37] fritzo commented on #146
It looks like we can simply
[code]

[2018-04-17 22:59] fehiepsi commented on #146
Thank @fritzo! This is solved by https://github.com/pytorch/pytorch/pull/6666 (nice number).

[2018-04-17 22:59] #146 closed

[2018-06-03 12:09] vishwakftw commented on #136
I think I have cleaned up torch.distributions. Have a look at the recent PR that was merged in pytorch/master https://github.com/pytorch/pytorch/pull/8046 . Based on that, I am closing this issue.

[2018-06-03 12:09] #136 closed

[2018-06-03 12:11] vishwakftw commented on #67
Can this be closed?

[2018-06-21 19:54] fritzo commented on #91
@vishwakftw Do you think it's easy to compute `KL(Binomial(n,p), Poisson(lambda))`? @alicanb and I were looking at this the other day but got stuck.

[2018-06-21 19:58] vishwakftw commented on #91
At a glance, I think there might be issues with the finite sum in the exponential term in the Poisson's pmf. Furthermore, the `nCk` term could also cause issues.

I will have a detailed look at it and revert to you tomorrow if that is fine.

[2018-06-21 21:09] alicanb commented on #91
We can always calculate this numerically since binomial has `enumerate_support`, in fact I remember discussing adding default KL for distributions with `enumerate_support` with somebody (@rachtsingh was it you?)

[2018-06-22 14:50] vishwakftw commented on #91
@fritzo I am stuck at one term in the summation. This is the one:

![image](https://user-images.githubusercontent.com/23639302/41783069-f9dc4e58-7609-11e8-8394-f8d5c068911e.png)

@alicanb It should be possible for finite support with some extra ops, but getting a closed form solution might be hard.

[2018-06-22 17:37] vishwakftw commented on #91
The summation should actually not be hard to implement in PyTorch. Something like this should do the trick:
[code]

[2018-06-25 19:35] fritzo commented on #91
@vishwakftw I like the idea of implementing the exact sum. It should be cheap on GPUs, and I've seldom seen binomial used with large `n`.

[2018-06-25 20:10] vishwakftw commented on #91
@fritzo Sure, we could do that. I will send in a PR soon.

[2018-06-25 20:12] alicanb commented on #91
Give me a few hours, I already have something that tackles Binom-Binom, Binom-Geo, and Binom-Poi KLs

[2018-06-25 20:23] vishwakftw commented on #91
Amazing!! Thanks @alicanb .

[2018-06-26 19:23] vishwakftw commented on #91
@alicanb @fritzo I have prepared a script to show existing KL-div pairs in Markdown format. [This](https://gist.github.com/vishwakftw/0fea89fd072a9e9d6cb42dc1232b1a84) is the script.

[2018-06-26 19:33] alicanb commented on #91
@vishwakftw That's so cool, is there a way we can put that in docs?

[2018-06-26 19:33] vishwakftw commented on #91
It should be possible, but the issue is that the table is too big.

[2018-06-27 14:04] #67 closed

[2018-07-12 06:43] fritzo commented on #69
Did someone implement this?

[2018-07-12 06:53] alicanb commented on #69
Nope, closed it by mistake, sorry.

[2018-07-13 15:33] vishwakftw commented on #94
Although slow, I think there can be a naive implementation for the multivariate polygamma functions correct? If the naive implementation is okay, I would be happy to take this up.

[2018-07-13 15:34] vishwakftw commented on #94
The naive implementation would be based on a summation of univariate polygamma functions.

[2018-07-13 20:41] alicanb commented on #94
I'm not sure it would be necessary. If you implement multivariate lgamma naively, autograd should take care of the rest?

[2018-07-13 20:46] vishwakftw commented on #94
Ah, yes. Autograd should take up multivariate polygamma. In fact, we can use this as a testing mechanism. Shall I implement multivariate lgamma, if that's fine?

[2018-07-15 13:58] SsnL opened #150 "[Feature Request] LKJ distribution?"
Not sure how much need for LKJ there is, but last time I worked with bayesian models it seemed pretty useful as a covariance matrix prior. So I want to bring this up. :)

[2018-09-24 17:17] alicanb commented on #2
closed via #113

[2018-09-24 17:17] #2 closed

[2019-03-11 19:39] neerajprad commented on #46
FYI - multinomial in tensorflow 2.0 is being renamed to categorical.